.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block}
.clearfix {display:block}




/* //Generic */

* { margin:0; padding:0 }

body { 
    background: url(../img/241.png) 9px 0 #222;
    color:#ddd;
    font-family:Arial;
    font-size:.9em
}
.left {
    float:left
}
.right {
    float:right
}
a {
    color:#ddd;
    text-decoration: none;
}
.content a span {
    
    border-bottom: 1px dotted #494949;
}

a:hover {
    color:#eee;
}

img { border: none }

ul, p, h1, h2, h3 { 
    margin:15px 0
}
h3 {
    text-shadow: 1px 2px  0 #000;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:1.8em;    
    font-weight:normal;
    letter-spacing: 1px;
}
p { line-height: 1.6; text-align: justify }

hr {
    border-color: #494949;
    border-style: dotted none none;
    border-width: 1px medium medium;
    color: #494949;
}
fieldset {
    border: none;
}
label {
    cursor: pointer;
}
input[type=text], input[type=password] {
    padding:5px 10px 4px;
    background-color:#393939;
    box-shadow:2px 2px rgba(0, 0, 0, 0.1);
    color:#ddd;
    border:1px dotted #666;
    border-radius:2px;
    font-size: 1em;
    font-family: Arial;   
    
}
input[type=text]:focus, input[type=password]:focus, input[type=submit]:active  {
     background-color:#444;
     box-shadow:2px 2px rgba(0, 0, 0, 0.2);
    border:1px dotted #888;
    outline: none;
}
input[type=submit] {
    position:relative;
    padding:4px 10px 3px;
    background-color:#393939;
    box-shadow:2px 2px rgba(0, 0, 0, 0.1);    
    color:#ddd;
    border:1px dotted #666;
    border-radius:2px;
    cursor:pointer;
    font-size: 1em;
    font-family: Arial       
}
input[type=submit]:hover {
    background-color:#444;
    border:1px dotted #888;
}
input[type=submit]:focus, input[type=submit]:active {
    top:1px;
}

small {
    font-size:.7em;
}
table {
    width:100%;
    margin-top:15px
}

/* //Fin Generic */


.wrapper {
    width:960px;
    margin:0 auto;
/*    box-shadow:0 0 350px 0 rgba(205, 215, 235, 0.2), 0 0 0 7px rgba(0, 0, 0, 0.25);*/
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.15);
}

.header {
    background-color:#333;
    background-image:url(../img/dinpattern-stripe.png);
    border-bottom:1px dotted #494949;
    box-shadow:0px -34px 34px #202020 inset;
    padding:15px 20px 20px;

}
.header h1 { 
    font-family: 'Viga', sans-serif;
    font-size:1.8em;
    font-weight:normal;
    text-shadow: 2px 2px 1px #000;
}

.header h1 a:hover span{
    color:lime
}
.menu a {
    text-shadow: 1px 2px  0 #000;
    font-weight: bold;
    color:#d9d9d9
}
.menu a:hover {
    color:#Fff
}
.menu a:before {
    content: "₪ ";
    font-weight: normal;
}
.menu span { color:#666;}



.footer {
    background-color:#333;
    border-top:1px dotted #494949;
    padding:25px 20px;
    font-size:.85em;
}
.footer img {
    float:right;
    opacity:.5;
}

.content {
    background-color:#333;
    background: -moz-linear-gradient(top, #292929, #393939);
    background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#393939));
    padding: 20px 20px 40px
}
.list th {
    color:#999;
    background-color:#333;
    background-image:url(../img/dinpattern-stripe.png);
    box-shadow:0 -8px 8px #262626 inset;
    padding:5px 10px;
    border-radius:2px;
    font-size:.86em;
}
.list td {
    border-bottom:1px dotted #494949;
    padding:10px
}
.list tr:hover td {
    background: #494949 ;
    background: rgba(30, 30, 30, .1);
}
.list tr:hover td:hover {
    background: #444 ;
    background: rgba(0, 0, 0, .1);
}
.list .action {
    text-align:center;
}

.list .action a:before {
    content: "» ";
    color: #82db71;
}
.list small { text-align: right ; display:block; color:#555}
.list .productComments ol { margin-left:20px ; font-size:.9em }
.list .productComments li { list-style-type: lower-roman }

ul.errors { list-style: none }
ul.errors li:before {
    content: "◄  ";
    color:#e33
}



.loginMensaje {
    text-align:center;
    font-weight:bold;
    margin:5px 0 15px;
    padding:10px 0;
    border:1px solid #222;
    border-radius:5px;
    box-shadow:0px 4px rgba(0, 0, 0, 0.1);
}
.loginMensaje.correcto {
    color:#75a821;
    background-color: #233320;

}
.loginMensaje.incorrecto {
    color:#e82219;
    background-color: #342424;
}
.loginForm { margin-top: 20px }
.loginForm label { display: block; float:left; width:90px; margin:6px 10px 0 0; text-align:right }
.loginForm input[type=text],
.loginForm input[type=password]{ float:left; width:250px }
.loginForm .element_form { margin-bottom: 20px }
.loginForm .submit { margin-left:100px }
.loginForm .errors { margin: 6px 0 0 20px; float: left }


.busquedaUsuarios_wrapper,
.busquedaProductos_wrapper {
    margin-bottom:25px ;
    position: relative;
}

.buscarForm input[type=text] {
    width:250px   
}
.buscarForm input[type=submit]:focus, .buscarForm input[type=submit]:active {
    top:0;
}



.form-errors {
    color:#e33;
}
#form-errors { 
    display: none;
    color:#e33;
    position: absolute;
    top:-23px;
    font-size: .9em;
}

.form-errors-login { margin:15px 0 0 100px;color:#eee; font-size:.9em; }
.form-errors-login span { color:#e33; }

.registroForm { margin-top: 20px }
.registroForm label { display: block; float:left; width:90px; margin:6px 10px 0 0; text-align:right }
.registroForm input[type=text],
.registroForm input[type=password]{ float:left; width:250px }
.registroForm .element_form { margin-bottom: 20px }
.registroForm .submit { margin-left:100px }
.registroForm .errors { margin: 6px 0 0 20px; float: left }


input[disabled]  {
    color: #999;
    border: 1px dotted #4c4c4c;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(63, 63, 63) transparent;
    /* RGBa with 0.2 opacity */
    background: rgba(63, 63, 63, 0.1);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33494949, endColorstr=#33494949);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33494949, endColorstr=#33494949)";
}
label[for^="passwordText"] {
    color: #999;
    cursor: default;
}
label.passwordVerify {
    font-size: .75em;
    margin-top:-1px;
}

.altaProductoForm { margin-top: 20px }
.altaProductoForm label { display: block; float:left; width:90px; margin:6px 10px 0 0; text-align:right }
.altaProductoForm input[type=text] { float:left; width:250px }
.altaProductoForm .element_form { margin-bottom: 20px }
.altaProductoForm .submit { margin-left:100px }
.altaProductoForm .errors { margin: 6px 0 0 20px; float: left }


.actionList { 
    list-style: none;
    margin:20px 0;
}
.actionList li { 
    float:left;
    margin-right: 20px;
}

.actionList li:before {
    content: "» ";
    color: #F28D27;
}

.right .actionList li { 
    margin:0 0 0 20px;
}








/* CHROME & SAFARI */

@media screen and (-webkit-min-device-pixel-ratio:0) {

    .header h1 span{
        font-size:.6em;
        font-weight:bold;
    }
    input[type=submit] {
        padding:5px 10px 4px;
    }
    input[disabled]  {
        color: #555;
    }
}