/* 
    Document   : test
    Created on : 06/01/2012, 06:29:03 PM
    Author     : juan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block; float:none
}

